@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffff;
    --foreground: #ededed;
  }
}

.flip-card {
  background-color: transparent;
  width: 100%;
  aspect-ratio: 1/1;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 0.75rem; /* Tailwind's rounded-xl */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flip-card-front {
  background: #e5d4ff;
}

.flip-card-back {
  background-color: #6c00ff;
  transform: rotateY(180deg);
  color: white;
}

.bg-radial-purple {
  background: linear-gradient(to bottom, #691FFC 0%, #461C9A 54%, #461C9A 98%)
}
 
body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'syne' , Arial, Helvetica;
}
